global
    maxconn 40000
    nbthread 1
    log stdout format raw local0

defaults
    mode http
    option dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend rinha_frontend
    bind *:9999
    default_backend rinha_backend

backend rinha_backend
    balance roundrobin
    option httpchk GET /ready
    server api1 api1:8080 check inter 2s fall 3 rise 2
    server api2 api2:8080 check inter 2s fall 3 rise 2
